<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Registro</a>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Registros">Consulta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Crear-Registro">Crear Registro</a>
          </li>
         
        </ul>
       
      </div>
    </div>
  </nav>
