<div class="container">
  <h1>
    <p>Lista de Registros</p>
  </h1>
  <form [formGroup]="consulta" (ngSubmit)="actualizarRegistro()">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-block" type="submit">Procesar</button>
      </div>
    </div>
  </form><br>
  <div class="row">
    <table class="table table-striped table-hover">
      <thead class="bg-primary" style="color: aliceblue;">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Procesar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.listRegistro">
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{ item.procesar }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>