<div class="container">
  
    <form [formGroup]="consulta" (ngSubmit)="crearRegistro()">
      <div class="row">
        <div  class="col-4">
          <label class="label-control">Nombre</label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input class="form-control" placeholder="@Nombre" type="text" formControlName="nombre" [(ngModel)]="datosRegistro.nombre" />
          </div>
          
        </div>
        <div  class="col-4">
          <label class="label-control">Apellido</label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input class="form-control" type="text" placeholder="@Apellido"  formControlName="apellido" [(ngModel)]="datosRegistro.apellido" />
          </div>
          
        </div>
        <div class="col-4">
          <label class="label-control">Procesar</label>
          <input class="form-control" type="text" formControlName="procesar" [(ngModel)]="datosRegistro.procesar" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-block" type="submit">Guardar</button>
        </div>
       
      </div>
    </form>
  <br>
  <div class="table-responsive"> 
    <table class="table table-striped table-hover table-borderless">
      <thead class="bg-primary" style="color: aliceblue;">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Procesar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.listRegistro">
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{ item.procesar }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>